.tbody {
  
    background-image: './logo';
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  
  /* Safari 4.0 - 8.0 */
  
  
  /* Standard syntax */
  @keyframes example {
    0%   { left:0px; top:0px;}
    85%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
    
  }